@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/**/
/* defaults */
/**/
.menu,
.menu * {
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
	background: none;
}
.menu {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/**/
/* level 1 */
/**/

.menu {
	position: relative;
	z-index: 999;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	font-size: 0;
	line-height: 0;
	text-align: right;
	margin:2%;
}
.menu:after {
	content: '';
	display: table;
	clear: both;
}

.menu li {
	position: relative;
	display: inline-block;
	float: left;
	padding: 5px;
	border-style: solid;
	border-color: rgba(0,0,0,.1);
	border-right-width: 1px;
	font-size: 13px;
	line-height: 45px;
	text-align: left;
	white-space: nowrap;
}

.menu li a {
	display: block;
	padding: 0 20px;
	text-decoration: none;
	color: #666;
	transition: background 0.5s, color 0.5s;
	-o-transition: background 0.5s, color 0.5s;
	-ms-transition: background 0.5s, color 0.5s;
	-moz-transition: background 0.5s, color 0.5s;
	-webkit-transition: background 0.5s, color 0.5s;
}

.menu li > div {
	position: absolute;
	z-index: 1000;
	top: 100%;
	left: -9999px;
	margin-top: 8px;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 8px rgba(0,0,0,.3);
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.5s, opacity 0.5s;
	-ms-transition: -ms-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
}
.menu li > div:after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 8px;
	background: transparent;	
}
.menu li > div:before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 24px;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgba(255,255,255,0.9);
	border-left: 5px solid transparent;
}
.menu li:hover > a
{
	background:  rgba(158,158,131,0.9);
	color: #fff;
}
.menu li:hover > div {
	left: 0;
	opacity: 1;
	-webkit-transform: translate(0, 0);
}

.menu >.coment{position: relative;
	display: inline-block;
	float: right;
	padding: 5px;
	border-style: solid;
	border-color: rgba(0,0,0,.1);
	border-right-width: 1px;
	font-size: 13px;
	line-height: 45px;
	text-align: right;
	white-space: nowrap;
	border-style: solid;
	border-color: rgba(0,0,0,.1);
	border-left-width: 1px;

	
}


/**/
/* level 2 */
/**/
.menu li li {
	display: block;
	float: none;
	border-width: 0;
	border-top-width: 1px;
	line-height: 21px;
	white-space: normal;
}

.menu li li a {
	padding-top: 12px;
	padding-bottom: 12px;
}
.menu li li > div {
	top: 0;
	margin: 0 0 0 8px;
}
.menu li li > div:after {
	top: 0;
	right: 100%;
	bottom: auto;
	left: auto;
	width: 8px;
	height: 100%;
}
.menu li li > div:before {
	top: 22px;
	right: 100%;
	bottom: auto;
	left: auto;
	border-top: 5px solid transparent;
	border-right: 5px solid rgba(255,255,255,0.9);
	border-bottom: 5px solid transparent;
}
.menu li li:hover > div {
	left: 100%;
}
/**/
/* animation */
/**/
.menu-anim li > div {
	-o-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
}
.menu-anim li:hover > div {
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}



